.categories-cart {
    display: flex;
    gap: 4%;
    margin-bottom: 20px;
    justify-content: center;
    overflow-y: auto;
}

.category-img {
    background: black;
}

.category-text {
    color: white;
    font-family: "hind";
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

.categories-cart img {
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    opacity: 0.7;
}

.category-container {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}